h1 {
    text-align: center;
    font-family:'Rubik Bubbles';
    transition-duration: 1s;
}
ul, li{
    font-family:'LXGW WenKai Mono TC';
    transition-duration: 1s;
}
.social img {
    width:100px;
    height:100px;
    border:5px double blueviolet;
    border-radius: 10px;
    background-color: #6C8CD5;
    transition-duration: 1s;
}
nav a {
    background-color: #6C8CD5;
    text-decoration: none;
    color:white;
    padding:10px;
    border:2px dashed #FF9900;
    border-radius:40%;
    transition-duration: 1s;

}
nav{
    padding:15px;
    transition-duration: 1s;
}
p {
    background-color: #689CD2;
    color:white;
    padding:5px;
    font-family: 'LXGW WenKai Mono TC';
}
a {
    text-decoration: none;
    color:white	;
    padding:5px;
    height:10px;
    font-family: 'LXGW WenKai Mono TC';
    background-color: #FF8040;
}
.text-big {
    text-transform: uppercase;
    background-color: white;
    color:#04376c;
    font-size: 25px;
}
body {
    background-color: #FFDF73;
}
li :first-child {
    font-size:20px ;
}
h2 {
    font-family: 'Press Start 2P';
    transition-duration: 1s;
    border:0px solid lightblue;
}
nav a:hover {
    background-color: #FFDF73;
    transition-duration: 1s;
    font-size: 47px;
}
h2:hover {
    color:#04376C	;
    transition-duration: 1s;
    border:10px solid #04376C	;
    padding:10px;
}
li:hover {
    color:#FF8040;
    transition-duration: 1s;
    font-size: 25px;
}
.social img:hover {
    width:125px;
    height:125px;
    border:12px solid #689CD2;
    transform: scale(1.25);
    transform: rotate(3600deg);
}
a:hover {
    transition-duration: 1s;
    padding:5px;
    font-size: 22px;
    transform: translateX(100px);
}
h1:hover {
    color:#689CD2;
    text-decoration:wavy;
    transform: rotateX(1080deg);
}
